/**/__pycache__/
/**/*.pyc
mb/build
mod_mirrorbrain/.libs
mod_mirrorbrain/mod_mirrorbrain.la
mod_mirrorbrain/mod_mirrorbrain.lo
mod_mirrorbrain/mod_mirrorbrain.slo
t/docker/lib/src/sql
/**/*.mmdb
/build/
